---
layout: default
title: Open source
permalink: /open-source/
---
<div class="home">
<div class="site-header-container {% if site.cover %}has-cover{% endif %}" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }});"{% endif %}>
  <div class="scrim {% if site.cover %}has-cover{% endif %}">
    <header class="site-header">
      <h1 class="title">Open source</h1>
    </header>
  </div>
</div>

<div class="wrapper">
<p>You can here find a list of our Github repositories with a lot of cool open source stuff</p>
<b>iOS</b> - <a href="#">GitHub</a><br /><hr>
<b>Android</b> - <a href="#">GitHub</a><br /><hr>
<b>Frontend</b> - <a href="#">GitHub</a><br /><hr>
<b>PHP</b> - <a href="#">GitHub</a><br /><hr>
<b>Operations</b> - <a href="#">GitHub</a><br /><hr>
</div>
</div>
